---
layout: default
title: News
---

{% for post in site.posts limit:3 %}
<div class="post">
<h2><a href="/stac{{ post.url }}">{{ post.title }}</a></h2>
{{ post.content }}
<em style="margin-left: 5px; float: left">Posted on {{ post.date | date_to_long_string }} by <a href="https://github.com/{{ post.author }}" target="_blank">{{ post.author }}</a>.</em>
<em style="margin-right: 5px; float: right"><a href="/stac{{ post.url }}#disqus_thread">View Comments</a></em>
<br /><br />
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>