<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>STAC: {{ page.title }}</title>
<link href="/stac/style.css" rel="stylesheet" type="text/css" /><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
</head>

<body>
	<div class="bigcontainer">
		<div class="header"><a href="{{ site.url }}">Source Team Attack Control</a> 
		<!-- end .header --></div>
		<div style="float: none">
			<div class="container">
				<div class="content">
				<h1>{{ page.title }}</h1>
				<div class="main">
					{{ content }}
				</div>
				<!-- end .content --></div>
			<!-- end .container --></div>
			<div class="sidebar1">
				<ul class="nav">
					<li><a href="{{ site.url }}">News</a></li>
					<li><a href="{{ site.url }}/about">About</a></li>
					<li><a href="{{ site.url }}/credits">Credits</a></li>
					<li><a href="{{ site.url }}/download">Download</a></li>
					<li><a href="https://github.com/dawgclan/stac/issues" target="_blank">Bug Reports (GitHub)</a></li>
					<li><a href="#" target="_blank">Forum Thread (SourceMod)</a></li>
					<li><a href="https://github.com/dawgclan/stac/toggle_watch" target="_blank">Watch Us (GitHub)</a>    <!-- end .sidebar1 --></li>
				</ul>
			</div>
		</div>
		<div class="footer">
		<p>Copyright &copy; 2011 Source Team Attack Control</p>
		<!-- end .footer --></div>
	</div>
</body>
</html>
