<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>STAC: {{ page.title }}</title>
<link href="/stac/style.css" rel="stylesheet" type="text/css" /><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
</head>

<body>
<div class="bigcontainer">
<div class="header"><a href="{{ site.url }}">Source Team Attack Control</a> 
<!-- end .header --></div>
<div class="container">
  <div class="content">
    <h1>Post</h1>
    <div style="width: 100%; border: 1px solid; height: 0;"></div>
    <div class="main">
    <h2><a href="/stac{{ page.url }}">{{ page.title}}</a></h2>
    {{ content }}
    <em style="margin-left: 5px; float: left">Posted on {{ page.date | date_to_long_string }} by <a href="https://github.com/{{ age.author }}" target="_blank">{{ page.author }}</a>.</em>
    <!-- end .content --></div>
    <div id="disqus_thread"></div>
	<script type="text/javascript" src="http://disqus.com/forums/sourcetac/embed.js"></script>
  <!-- end .container --></div>
  <div class="sidebar1">
    <ul class="nav">
 	  <li><a href="{{ site.url }}">News</a></li>
 	  <li><a href="{{ site.url }}/about">About</a></li>
   	  <li><a href="{{ site.url }}/credits">Credits</a></li>
      <li><a href="{{ site.url }}/download">Download</a></li>
      <li><a href="https://github.com/dawgclan/stac/issues" target="_blank">Bug Reports (GitHub)</a></li>
      <li><a href="#" target="_blank">Forum Thread (SourceMod)</a></li>
      <li><a href="https://github.com/dawgclan/stac/toggle_watch" target="_blank">Watch Us (GitHub)</a>    <!-- end .sidebar1 --></li>
    </ul>
  </div>
  <div class="footer">
    <p>Copyright &copy; 2011 Source Team Attack Control</p>
    <!-- end .footer --></div>
</div>
</body>
</html>
